# git ignore for Matlab Project
# Yiding Qiu
# This file is created by: touch.gitignore 

#ignore folder
*/DataSet/
/DataSet/
*/RawData/
/RawData/
#*/UnfinishScripts/
#/UnfinishScripts/


#ignore following files
*csv
*asv
*slxc
*jpg

raw_labled.mat
rawLable.mat
figureForPaper.mlx
