# git ignore for Matlab Project
# Yiding Qiu
# This file is created by: touch.gitignore 

#ignore folder
*/DataSet/
/DataSet/
*/RawData/
/RawData/

#ignore following files
*csv
*asv
*slxc
*jpg

raw_labled.mat